---
import AboutSection from '../components/AboutSection.astro';
import BaseHead from '../components/BaseHead.astro';
import ContactSection from '../components/ContactSection.astro';
import CtaSection from '../components/CtaSection.astro';
import FooterSection from '../components/FooterSection.astro';
import HeroSection from '../components/HeroSection.astro';
import HighlightSection from '../components/HighlightSection.astro';
import MissionSection from '../components/MissionSection.astro';
import NavSection from '../components/NavSection.astro';
import PartnersSection from '../components/PartnersSection.astro';
import Service from '../components/Service.astro';
import VisionSection from '../components/VisionSection.astro';
import BaseLayout from '../layouts/BaseLayout.astro';
import fetchApi from '../lib/strapi';

const global = await fetchApi<{
  siteName: string;
  siteDescription: string;
  favicon: { url: string };
}>({
  endpoint: "global",
  query: { populate: "favicon" },
  wrappedByKey: "data",
});

const faviconUrl = new URL(global.favicon.url, import.meta.env.STRAPI_URL).href;
---

<BaseLayout favicon={faviconUrl}>
  <BaseHead slot="head" title={global.siteName} description={global.siteDescription} />
  <div class="flex flex-col w-full bg-white">
    <NavSection/>
    <div class="w-full px-4 md:px-8 lg:px-40 py-5">
      <div class="flex flex-col max-w-[960px] mx-auto w-full">
        <HeroSection/>
        <Service/>
        <AboutSection/>
        <VisionSection/>
        <MissionSection/>
        <PartnersSection/>
        <HighlightSection/>
        <CtaSection/>
        <ContactSection/>
        <FooterSection />
      </div>
    </div>
  </div>
</BaseLayout>
