---
import type { CtaBanner } from "../interfaces/cta";
import fetchApi from "../lib/strapi";

const cta = await fetchApi<CtaBanner>({
  endpoint: "cta-banner",
  wrappedByKey: "data"
});
---

<section class="w-full py-20 px-10">
  <div class="flex flex-col items-center gap-8 max-w-4xl mx-auto">
    <!-- Heading and Subheading -->
    <div class="text-center space-y-2 w-full">
      <h2 class="text-4xl font-extrabold tracking-tight leading-[45px] font-['Plus_Jakarta_Sans'] text-[#111416]">
        {cta.title}
      </h2>
      <p class="text-base font-normal font-['Plus_Jakarta_Sans'] text-[#111416]">
        {cta.subtitle}
      </p>
    </div>

    <!-- Email form (static for now, could be connected to service) -->
    <div class="w-full flex items-center justify-center max-w-[560px]">
       <a href={cta.btn_url} target="_blank" rel="noopener noreferrer">
          <button
            class="inline-block cursor-pointer h-10 md:h-12 items-center  px-4 md:px-5 bg-[#e53838] text-white font-bold rounded-xl hover:bg-[#c93232] transition-colors"
          >
            {cta.btn_text}
          </button>
        </a>
    </div>
  </div>
</section>
