---
import { ChevronRightIcon } from "@lucide/astro";
import type { Highlight } from "../interfaces/highlight";
import fetchApi from "../lib/strapi";

// Ambil highlight dan sort descending by createdAt, lalu ambil 3 teratas
const highlights = (await fetchApi<Highlight[]>({
  endpoint: "highlights?populate[heroImage]=true",
  wrappedByKey: "data",
}))
  .sort((a, b) => new Date(b.createdAt).getTime() - new Date(a.createdAt).getTime())
  .slice(0, 3); // Ambil hanya 3 terbaru

---

<section id="projects" class="py-[60px]  bg-white flex flex-col items-center gap-20">
  <div class="flex flex-col items-center gap-4 max-w-[768px]">
    <div class="flex flex-col items-center gap-6 w-full">
      <h2 class="text-black text-3xl md:text-5xl text-center leading-[57.6px] font-bold ">
        Our Service Highlights
      </h2>
      <p class="text-black text-lg text-center leading-[27px] font-normal ">
        See how we've helped businesses streamline logistics and scale efficiently.
      </p>
    </div>
  </div>

  <div class="flex flex-col items-center gap-12 w-full max-w-[960px]">
    <div class="grid grid-cols-1 md:grid-cols-3 gap-8 w-full">
      {highlights.map((project) => (
        <a href={`/services/${project.slug}`} class="overflow-hidden rounded-lg group cursor-pointer">
          <div class="relative overflow-hidden rounded-lg">
            <img
              class="w-full h-[234px] object-cover transition-transform duration-300 group-hover:scale-105"
              src={import.meta.env.STRAPI_URL + project.heroImage.url}
              alt={project.heroImage.alternativeText || "Highlight image"}
              loading="lazy"
            />
            <div class="absolute inset-0 bg-black/0 group-hover:bg-black/20 transition duration-300"></div>
          </div>
          <div class="flex flex-col items-start gap-2 py-4">
            <h3 class="font-bold text-black text-2xl leading-[33.6px] whitespace-pre-line ">
              {project.title}
            </h3>
            <div  class="flex items-center gap-2 pt-4 group">
              <span class="text-base text-black leading-6 font-normal">
                View project
              </span>
              <ChevronRightIcon class="w-6 h-6 translate-x-0 transition-transform duration-200 group-hover:translate-x-1" />
            </div>
          </div>
        </a>
      ))}
    </div>


    <a
      href="/services"
      class="inline-flex items-center bg-[#e53838] hover:bg-[#e53838]/90 text-white rounded-xl group px-6 py-3 transition-all"
    >
      <span class="font-semibold text-base ">View All</span>
      <ChevronRightIcon class="w-6 h-6 translate-x-0 transition-transform duration-200 group-hover:translate-x-1" />
    </a>
  </div>
</section>
