---
import type { MissionSection } from "../interfaces/mission";
import fetchApi from "../lib/strapi";
import { parseSimpleMarkdown } from "../utils/parseRichtext";

import { AlertCircle, CheckCircle, Info, Star } from "@lucide/astro"; // contoh import beberapa icon

const mission = await fetchApi<MissionSection>({
  endpoint: "mission?populate[missions][populate]=*",
  wrappedByKey: "data"
});

// Map nama icon ke komponen lucide
const iconMap: Record<string, typeof Star> = {
  star: Star,
  check: CheckCircle,
  alert: AlertCircle,
  info: Info,
};
---

<section class="flex flex-col items-center gap-4 pb-[72px] w-full">
  <h2 class="text-3xl md:text-[40px] font-bold mb-4 text-black">
    {mission.title}
  </h2>

  <div class="grid grid-cols-1 md:grid-cols-2 gap-8 w-full">
    {mission.missions.map((item, idx) => {
      const IconComponent = iconMap[item.icon?.toLowerCase() ?? ""]; // dapatkan icon dari map

      return (
        <div class="flex items-start gap-4">
          <div class="w-6 h-6 mt-1 shrink-0 ">
            {IconComponent ? (
              <IconComponent class="w-6 h-6" fill="#fb2c36" stroke-width={0} />
            ) : (
              <span class="text-base font-bold">{item.icon ?? "?"}</span> // fallback jika icon tidak ada
            )}
          </div>

          <p set:html={parseSimpleMarkdown(item.description)} class=" text-lg md:text-2xl leading-[32px] font-['Plus_Jakarta_Sans']">           
          </p>
        </div>
      );
    })}
  </div>
</section>
