---
import type { Vision } from "../interfaces/vision";
import fetchApi from "../lib/strapi";

const vision = await fetchApi<Vision>({
  endpoint: "vision", 
  wrappedByKey: "data"
});
---

<section class="pt-10  pb-20 w-full">
  <div class="flex flex-col items-center gap-4">
    <h2 class=" font-bold text-3xl md:text-[40px] text-[#111416] tracking-[-1.00px] leading-[45px] text-center">
      {vision.title}
    </h2>
    <p class=" font-medium italic text-[#111416] text-2xl text-center">
      “{vision.quote}”
    </p>
  </div>
</section>
